@import 'header_styles.css';

main {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
}

#upload {
    padding: 20px;
    background-color: var(--lightwhite);
    width: 30%;
    border: 1px solid transparent;
    border-radius: 15px;
}

#upload-title {
    color: var(--lightwhite);
}

#upload-title::first-letter {
    color: var(--lightred);
}

.msg {
    margin: 0;
    padding: 0;
}

#upload label {
    padding: 5px 0 5px 0;
}